body {
    margin: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.ads__text {
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}
