* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: #f8fafe;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}
.header {
  position: sticky;
  top: 0;
  background: #f8fafe;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  margin: 19px 0 0;
}
.header-logo__img {
  width: 36, 5px;
  height: 42px;
  margin-top: 4px;
}
.header-logo__name {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 27px;
  color: #000;
}
.header-logo__name-color {
  color: #ff5722;
}
.basket {
  display: flex;
  justify-content: center;
  gap: 28px;
  position: relative;
}
.header-favorites {
  position: relative;
  height: 35px;
  width: 44px;
  color: #888888;
}
.basket__icon {
  position: relative;
  width: 41px;
  height: 40px;
}
.header-favorites__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: 60px;
  background: #f36223;
  color: #eeeeee;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 50%;
}
.basket__count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
  background: #f36223;
  color: #eeeeee;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 50%;
}

a {
  color: #008cf0;
  text-decoration: none;
}
a:hover {
  color: #f36223;
}
button {
  padding: 8px 12px;
}
ul {
  padding: 0;
}
li {
  margin-bottom: 10px;
  list-style-type: none;
}

li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #888888;
  margin-right: 10px;
}
.table {
  margin: 30px 0 15px;
}

.block__table {
  border-collapse: collapse;
  border: 1px solid #888888;
}
.block__table__item {
  font-weight: 700;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
  padding: 8px;
  white-space: nowrap;
}
.block__table-options {
  border-left: 1px solid #888888;
  padding: 8px;
  white-space: nowrap;
}
.block__table-hover:hover {
  background-color: #f2f2f2;
}

.reviews__header-our {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.reviews__header-number {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
  margin: 0 5px;
}
.number__stars {
  margin: 10px 0 20px;
  width: 40px;
  height: 40px;
}
.reviews__header {
  align-items: center;
  margin: 66px 0 30px;
}
.reviews__header-add {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews__img__personality {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.reviews__descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.reviews__descriptions-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reviews-img {
  display: flex;
  align-items: flex-start;
}
.reviews {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0px;
  gap: 30px;
}
.block__reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 30px;
}
.separator {
  border: none;
  border-bottom: 1px dashed #888888;
  width: 100%;
}
.reviews__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  gap: 10px;
}
.name__reviews {
  font-weight: 700;
  font-size: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-size {
  gap: 4px;
}
.nav__item {
  font-size: 16px;
  font-weight: 400;
  color: #008cf0;
}
.characteristic__name {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.product-name {
  font-size: 32px;
  font-weight: 700;
  margin-top: 8px;
}
.product-name__list {
  display: flex;
  width: 100%;
  margin: 30px 0;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.product-name__img {
  height: 387px;
}
.product-color {
  display: flex;
  gap: 10px;
}
.product-color__item {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #888888;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 10px;
}
.product-color__item:hover {
  background-color: #f2f2f2;
}
.product-color__item.active {
  border: 2px solid #f36223;
}

.product-color__img {
  height: 60px;
}
.price-block {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  background-color: #ffffff;
  white-space: nowrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.price-block__size {
  height: 275px;
  padding: 20px 20px 0;
  margin-top: 30px;
}
.price-block__cart {
  display: flex;
  align-items: center;
  gap: 18px;
}
.price-block__old {
  font-size: 16px;
  color: #888888;
  text-decoration-line: line-through;
}
.new-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin: 14px 0 15px;
}
.new-price__text-one {
  margin: 15px 0 10px;
}
.new-price__text-two {
  margin-bottom: 35px;
}
.price-block__discount {
  width: 47px;
  height: 24px;
  border: #aaaaaa;
  border-radius: 500px;
  background-color: #f36223;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price-block__favorites {
  display: flex;
  justify-content: space-between;
}
.favorites {
  width: 28px;
  height: 22px;
  fill: #888888;
  cursor: pointer;
}
.favorites:hover {
  cursor: pointer;
  fill: #f36223;
}
.favorites:active {
  cursor: pointer;
  fill: #a93a09;
}
.btn-basket {
  background-color: #f36223;
  border: 0;
  width: 100%;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px 20px 60px;
  align-items: center;
  cursor: pointer;
}
.btn-basket:hover {
  background-color: #da4a0c;
}
.btn-basket::before {
  content: url("../img/btn.svg");
  width: 19px;
  height: 20px;
  color: #fff;
  position: absolute;
  margin-left: -30px;
}
.content {
  display: flex;
  justify-content: space-between;
}

.content-size {
  gap: 100px;
}

.iframe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.iframe__ads {
  height: 300px;
  border: 1px dashed #ccc;
}
.iframe__text {
  font-size: 14px;
  color: #888888;
  padding: 0;
  margin: 40px 0px 10px;
}
.memory__btn {
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.memory__btn.active {
  border: 2px solid #f36223;
}
.memory__btn:hover {
  background-color: #f2f2f2;
}
.memory__class {
  margin: 30px 0 15px;
}
.specifications {
  margin: 30px 0 15px;
}
.description {
  display: flex;
  flex-direction: column;
}
.description-size {
  gap: 15px;
}
.description__name {
  margin: 30px 0 0;
  font-weight: 700;
}
.description__item {
  font-weight: 500;
  line-height: 19px;
}
.footer {
  background: #f2f2f2;
  width: 100%;
  padding: 30px 0px;
}
.block__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.form__btn {
  background-color: #f36223;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  margin: 30px 0;
  padding: 10px 20px;
  font-size: 16px;
}
.form__header__fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.form__header__name {
  width: 80%;
  position: relative;
}
.form__header__grade {
  width: 20%;
  position: relative;
}
.form__name-error {
  display: none;
  position: absolute;
  bottom: 15px;
  background: #da4a0c;
  color: #ffffff;
  width: 100%;
  font-weight: 500;
  font-size: 12px;

}
.form__grade-error {
  display: none;
  position: absolute;
  bottom: 15px;
  background: #da4a0c;
  color: #ffffff;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
 
}
.form__name-active {
  display: block;
}
.form__grade-active {
  display: block;
}

.form__reviews-text {
  width: 100%;
  padding: 15px 0 0 20px;
  color: #888888;
  font-weight: 500;
  font-family: "Inter";
}

.form__header {
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.form__name {
  width: 100%;
  padding: 15px 20px;
  color: #888888;
  font-weight: 500;
  margin-bottom: 30px;
}
.form__grade {
  width: 100%;
  padding: 15px 20px;
  color: #888888;
  font-weight: 500;
  margin-bottom: 30px;
}
.form-size {
  width: 100%;
  padding: 0 0 0 170px;
  margin-bottom: 100px;
}
.pressing:hover {
  color: #f36223;
}
.pressing:active {
  color: #a93a09;
}

@media (max-width: 1499px) {
  .reviews__img__personality {
    width: 100px;
    height: 100px;
  }
  .content-size {
    gap: 40px;
  }
  .table-model {
    display: none;
  }
  .product-name__img {
    width: 100%;
    height: 272px;
  }
  .container {
    padding: 0 15px;
  }
  .number__stars {
    margin: 10px 0 20px;
    height: 20px;
    width: 20px;
  }
  .footer__text {
    margin: 0 15px;
  }
  .form-size {
    padding: 0;
  }
}
